{% extends 'base.html' %}

{% block content %}
<head>
    <title>loggedout</title>
</head>
<body>
<h1>
    Congrats
    <p><small>See you next time, You have been successfully logged out</small></p>
</h1>
</body>
{% endblock %}