{% extends 'base.html' %}

{% block content %}
<head>
    <title>loggedin</title>
</head>
<body>
<h1>Congratulations
    <p><small>You have logged in successfully</small></p>
</h1>
</body>
{% endblock %}